services:
  minio:
    image: minio/minio:latest
    container_name: minio-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

  awscli:
    image: amazon/aws-cli
    container_name: aws-cli
    entrypoint: ["sleep", "infinity"]
    depends_on:
      - minio
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    volumes:
      - ./data:/data
    tty: true
    stdin_open: true

  nifi:
    image: apache/nifi:latest
    container_name: nifi
    ports:
      - "8443:8443"
    environment:
      SINGLE_USER_CREDENTIALS_USERNAME: nifiadmin
      SINGLE_USER_CREDENTIALS_PASSWORD: nifiadmin012
    volumes:
      - ./nifi/conf:/opt/nifi/nifi-current/conf
      - ./nifi/database_drivers:/opt/nifi/nifi-current/database_drivers
      - ./nifi/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - ./nifi/content_repository:/opt/nifi/nifi-current/content_repository
      - ./nifi/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - ./nifi/state:/opt/nifi/nifi-current/state
      - ./nifi/temp:/opt/nifi/nifi-current/temp
      - ./data:/data
      - ./postgresql-42.7.7.jar:/opt/nifi/nifi-current/lib/postgresql-42.7.7.jar
      - ./lib/nifi-parquet-nar-2.6.0.nar:/opt/nifi/nifi-current/lib/nifi-parquet-nar-2.6.0.nar
      - ./nifi-hadoop-libraries-nar-2.6.0.nar:/opt/nifi/nifi-current/lib/nifi-hadoop-libraries-nar-2.6.0.nar

    depends_on:
      - minio
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  minio_data:
  db_data:
